* {
  font: 100% 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background: #eee;
}

body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

#tm-header {
  background: #2962ff;
  color: #fff;
  height: 3.5rem;
  // padding: 0.7rem;
  
  h1 {
    text-align: center;
    font-size: 1.2rem;
  }
}

#tm-sidemenu {
  width: 3.5rem;
  height: 100%;
  float: left;
  background: #999;

  ul > li {
    width: 100%;
    text-align: center;
    padding: 1rem 0 0;
    display: block;

    a {
      color: #2962ff;
    }
  }

}

#tm-content {
  max-width: 70%;
  margin: auto
}

h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
}


.tm-box {
  display: flex;
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0px 0px 15px #ddd;
  border: solid 1px #fff;
  margin-top: 1rem;
}

input, button, textarea, select {
  background: #fff;
  border: none;
  background: #efefef;
  padding: 0.8rem;
  color: #333 !important;
  border-radius: 0.0rem;
  font-size: 0.9rem;
}

button {
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
  
.form-element {
  margin-bottom: 0.5rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

$i: 24;
@while $i > 0 {
  .col-#{$i} { width: (100% * $i) / 24;}
  $i: $i - 1;
}

.col {
  width: auto;
}

form {
  width: 100%;
}


button:disabled {
  background: #eee;
}


.btn--primary {
  background-color: #2962ff !important;
  color: #fff !important;
}

.btn--none {
  background: none !important;
}

.tm-btn-bar {
  text-align: right;
}

li {
  list-style: none;
}

.list li {
  padding: 1rem 0;
  border: solid 1px #eee;
  border-width: 0 0 1px 0;
}

.list li:last-child {
  border: none;
}

.tag {
  background: #eee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.ta-right {
  text-align: right;
}

.tx-grey {
  color: #777;
}

.tx-primary {
  color: #2962ff;
}

.tx-warning {
  color: orange;
}

.bg-warning {
  background: orange;
}

.desc {
  font-size: 0.8rem;
  color: #777;
}